[Unit]
Description=TPB Cti-adapter Service
After=network.target postgresql.service redis.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/project/AgentdesktopTPB
Environment="NODE_ENV=production"
Environment="PORT=3019"
ExecStart=/usr/bin/npx nx run cti-adapter-service:serve
Restart=always
RestartSec=10
StandardOutput=append:/opt/project/AgentdesktopTPB/logs/cti-adapter-service.log
StandardError=append:/opt/project/AgentdesktopTPB/logs/cti-adapter-service.log

[Install]
WantedBy=multi-user.target
